on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
name: Integration tests on Emulator
jobs:
  emulator-tests:
    runs-on: ubuntu-latest
    services:
      emulator:
        image: gcr.io/cloud-spanner-emulator/emulator:latest
        ports:
          - 9010:9010
          - 9020:9020
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.26.x
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Run integration tests on Emulator
        run: go test -v
        env:
          SPANNER_EMULATOR_HOST: localhost:9010
      - name: Run PostgreSQL integration tests on Emulator
        run: go test -v
        working-directory: postgresql
        env:
          SPANNER_EMULATOR_HOST: localhost:9010
      - name: Run PostgreSQL sample application integration tests on Emulator
        run: go test -v
        working-directory: postgresql/samples/sample_application
        env:
          SPANNER_EMULATOR_HOST: localhost:9010
