on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
name: PostgreSQL-dialect tests
jobs:
  emulator-tests:
    runs-on: ubuntu-latest
    services:
      emulator:
        image: gcr.io/cloud-spanner-emulator/emulator:latest
        ports:
          - 9010:9010
          - 9020:9020
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.26.x
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Checkout gorm
        uses: actions/checkout@v6
        with:
          repository: go-gorm/gorm
          path: postgresql/tests/gorm
      - name: Run gorm PostgreSQL tests on Emulator
        working-directory: postgresql/tests
        run: ./run_gorm_tests.sh
        env:
          SPANNER_EMULATOR_HOST: localhost:9010
